body {
    background-image: url('2560x1440.jpg');
    background-image: url('background_image.jpg');
    background-size: cover; /*讓圖片充滿整個視窗*/
    background-position: center; /* 將背景圖片居中 */
    background-repeat: no-repeat; /* 防止背景圖片重複 */
    font-family: "Microsoft JhengHei", "PMingLiU", serif; /*明體*/
}
